<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <div id="time-viwer">
        Tugash vaqti ...
    </div>
    <div class="container">
        <div class="main">
            <div class="quesitions-box">
                <div class="quesitions">

                    <section id="ingliz-tili">
                        <div class="quesition-title">
                            <h4>Ingliz tili</h4>
                        </div>
                        <div class="quesition-items">
                            <ol>
                            </ol>
                        </div>
                  
                    </section>
                </div>
                <div class="answer">
                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <!-- <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                    <th>11</th>
                                    <th>13</th>
                                    <th>14</th>
                                    <th>15</th>
                                    <th>16</th>
                                    <th>17</th>
                                    <th>18</th>
                                    <th>19</th>
                                    <th>20</th>
                                    <th>21</th>
                                    <th>22</th>
                                    <th>23</th>
                                    <th>24</th>
                                    <th>25</th>
                                    <th>26</th>
                                    <th>27</th>
                                    <th>28</th>
                                    <th>29</th>
                                    <th>30</th> -->
                                </tr>
                            </thead>
                            <tbody><tr>
                                <!-- <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span style="background-color: green;"></span></td>
                                <td><span style="background-color: red;"></span></td>
                                <td><a href="#question-1"><span></span></a></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td>
                                <td><span></span></td> -->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <div class="end-test">
                <div class="menu">
                    <div class="chiqish"><button>chiqish</button></div>
                    <div class="yakunlash"><button>YAKUNLASH</button></div>
                </div>
            </div>    
            </div>
        </div>
    </div>
</body>
<script  defer src="./static/js/jquery.js"></script>
<script defer src="./static/js/index.js"></script>
</html>